.heading
{
    width: 100%;
    text-align: center;
}

.heading h3
{
 display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

#start,#status{
    font-size: 25px;

}

h4{
    font-size: 20px;
    background-color: white;
    margin: 0px;
}